<div class="ReqAndLeave">
    <div class="request-card">
        <div class="request-card-column">
            <i class="fa-solid fa-list"></i>
            <p style="color: white;">Vacation Requests</p>
        </div>
        <h1>{{admin.vacationRequests}}</h1>
    </div>

    <div class=" request-card">
        <div class="request-card-column">
            <i class="fa-solid fa-list"></i>
            <p style="color: white;">Leave Requests</p>
        </div>
        <h1>{{admin.leaveRequests}}</h1>
    </div>
</div>