.page-number {
    margin: 0 auto;
    margin-top: 1em;
}

.page-number a {
    margin-right: 0.25em;
    margin-left: 0.25em;

    color: blue;
}

.page-number a.active {
    color: red
}

.page-number a:hover {
    cursor: pointer;
}

.page-number i {
    margin-right: 0.25em;
    margin-left: 0.25em;
    opacity: 0.3;
    color: blue;
}

.page-number i:hover {
    opacity: 1;
    cursor: pointer;
}